.MuiPaper-root,.MuiPaper-elevation1,.MuiPaper-rounded{
  background-color: transparent !important;
  box-shadow:none !important;
  transition: none !important;
  color:white !important;
  border-radius:none !important;
}
.header{
  display: flex;
  flex-direction: row;
  padding: 0 8vw;
  gap:54vw;
}
.header-name{
  font-family: 'Dancing Script', cursive;
  font-size: 3vw;
  color:#072e4b;
  cursor: pointer;
  font-weight: 800;
}
.coffee-img{
  width: 5vw;
  margin-top: 2vh;
  cursor: pointer;
}
.custom{
  background-color: #70c1ff;
  height: 12vh;
  width: 30vw;
  display: flex;
  align-content: center;
  border-radius: 15px;
  margin: auto;
  width: 50%;
  margin-top: 3vh;
}
.custom p{
  font-size: 18px;
  font-family: 'Voltaire', sans-serif;
  margin-left: 22%;
  margin-top: 3%;
  color: #072e4b;
}
.custom-btn{
  background-color: #0c4570;
  color:white;
  width: 8vw;
  height: 5vh;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}
.display{
  display: flex;
  flex-direction: row;
  gap:0 10vw;
  padding: 0 8vw;
  margin-top: 10vh;
}
.display-two{
  display: flex;
  flex-direction: row;
  gap:0 10vw;
  padding: 0 25vw;
  margin-top: 20vh;
  margin-bottom: 10vh;
}
.portraits-div{
  display: flex;
  flex-direction: column;
}
.potrait{
  width: 20vw;
  height: 68vh;
  border: 8px solid #000000;
}
.portraits-div p{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Voltaire', sans-serif;
}
.view-btn{
  background-color: #0c4570;
  color:white;
  height: 6vh;
  width: 21vw;
  border: none;
  margin-top: 3vh;
  border-radius: 12px;
  cursor: pointer;
}
.view-btn:hover{
  background-color:#1b79c0;
}
.footer{
  padding: 3vh 8vw;
  display: flex;
  flex-direction: row;
  gap:57vw;
}
.footer p{
  font-size: 13px;
  font-family: 'Voltaire', sans-serif;
  color:#072e4b;
}
.footer-logos{
  display: flex;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
}
.github-img,.ig{
  width:25px;
  height: 30px;
}
.linkedin{
  width:50px;
  height: 35px;
}
.display-img{
  width: 18vw;
  height: 60vh;
  border: 8px solid #000000;
}
.display-img:hover{
  transform: scale(1.2);
}
.display-div{
  padding: 0 5vw;
}
.display-div-top{
  margin-top: 15px !important;
}
.portraits-page-img{
  width: 18vw;
  height: 68vh;
  border: 8px solid #000000;
}
.portraits-page-img:hover{
  transform: scale(1.2);
}

@media (max-width: 960px) {
  .display, .display-two{
    display: flex;
    flex-direction: column;
    gap:0 10vw;
    align-items: center;
  }
  .display-two{
    margin-top: -2vh;
  }
  .potrait{
    width: 40vw;
    height: 40vh;
  }
  .header-name{
    font-size: 5vw;
  }
  .header{
    gap:30vw;
  }
  .coffee-img{
    width: 9vw;
  }
  .view-btn{
    height: 5vh;
    width: 45vw;
  }
  .footer{
    gap:7vw;
  }
  .footer p{
    font-size: 10px;
    font-family: 'Voltaire', sans-serif;
    color:#072e4b;
  }
  .custom p{
    font-size: 12px;
    margin-top: 8%;
  }
  .custom-btn{
    width: 18vw;
    margin-left: 12vw;
    margin-top: 1px;
    font-size: 10px;
  }
  .custom{
    width: 80vw;
  }
  .display-img{
    width: 65vw;
    height: 64vh;
  }
  .display-div{
    padding: 0 15vw;
  }
  .portraits-page-img{
    width: 52vw;
    height: 65vh;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .display-img{
    width: 55vw;
    height: 90vh;
  }
  .portraits-page-img{
    width: 40vw;
    height: 85vh;
  }
}